<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button
        color="warning"
        defaultHref="/home/tabs/foodsearch/details"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title><h1>Food Details</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="padding: 10px">About {{data.food.label}}</h1>
  <div>
    <ion-img [src]="data.food.image"></ion-img>
  </div>
  <div>
    <ion-list>
      <ion-item> Category : {{data.food.category}} </ion-item>
      <ion-item> Category Label : {{data.food.categoryLabel}} </ion-item>
      <!-- <ion-item>
        
        foodId:{{data.food.foodId}}
        </ion-item>
         -->
    </ion-list>
  </div>
  <div>
    <h1>Nutrients</h1>
    <section class="nut">
      <table>
        <tr>
          <th>Nutrient</th>
          <th></th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Calories</td>
          <td>:</td>
          <td>{{data.food.nutrients.ENERC_KCAL}}</td>
        </tr>
        <tr>
          <td>Protien</td>
          <td>:</td>
          <td>{{data.food.nutrients.PROCNT}}</td>
        </tr>
        <tr>
          <td>Fat</td>
          <td>:</td>
          <td>{{data.food.nutrients.FAT}}</td>
        </tr>
        <tr>
          <td>CHOCDF</td>
          <td>:</td>
          <td>{{data.food.nutrients.CHOCDF}}</td>
        </tr>
        <tr>
          <td>Fibre</td>
          <td>:</td>
          <td>{{data.food.nutrients.FIBTG}}</td>
        </tr>
      </table>
    </section>
  </div>
</ion-content>