.nut {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  table {
    width: 80%;
    border: 1px solid #ffb400;
    th {
      text-align: center;
      width: 50%;
      padding: 5px;
      border: 1px solid #ffb400;
    }
    td {
      text-align: center;
      width: 50%;
      padding: 5px;
      border: 1px solid #ffb400;
    }
  }
}
h1 {
  text-align: center;
}
