<ion-header>
	<ion-toolbar>
		<ion-buttons>
			<ion-back-button
				color="warning"
				defaultHref="/home/tabs/foodsearch/details"
			>
			</ion-back-button>
		</ion-buttons>
		<ion-title><h1>Food Details</h1></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div>
		<ion-img [src]="data.food.image"></ion-img>
	</div>
	<div>
		<h1 style="padding: 10px">About</h1>
		<ion-list>
			<ion-item>
				<h1>Name - {{data.food.label}}</h1>
			</ion-item>
			<ion-item> Category:{{data.food.category}} </ion-item>
			<ion-item> Category Label:{{data.food.categoryLabel}} </ion-item>
			<!-- <ion-item>
        
        foodId:{{data.food.foodId}}
        </ion-item>
         -->
		</ion-list>
	</div>
	<div>
		<h1>Nu</h1>
	</div>
</ion-content>
