<ion-header>
  <ion-toolbar>
    <ion-title><h1>Searched</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let data of Dataparsed">
  <ion-card>
   
    <ion-card-content>
      <ion-card-title>
        {{data.food.label}}
        </ion-card-title>
        <ion-card-subtitle>
          {{data.food.categoryLabel}}
          </ion-card-subtitle>
           <ion-img [src]="data.food.image"></ion-img>
    </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-list *ngFor="let dataHints of dataHints">
      <ion-item >
        <ion-thumbnail slot="start">
          <img [src]="dataHints.food.food">
        </ion-thumbnail>
        <ion-label>{{dataHints.food.label}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
