<ion-header>
  <ion-toolbar>
    <ion-title><h1>Searched</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let data of Dataparsed">
  <ion-card>
   
    <ion-card-content>
      <ion-card-title>
        {{data.food.label}}
        </ion-card-title>
        <ion-card-subtitle>
          {{data.food.categoryLabel}}
          </ion-card-subtitle>
           <ion-img [src]="data.food.image"></ion-img>
           <div>
             <ion-button color="warning" (click)="details(data)">More Details</ion-button>
             </div>
    </ion-card-content>
    </ion-card>
  </div>
  <div >
  <ion-list *ngFor="let hint of DataHint">
    <ion-item detail (click)="details(hint)">
      <ion-thumbnail slot="start">
        <ion-img [src]="hint.food.image"></ion-img>
        </ion-thumbnail>
     
      <p>{{hint.food.label}}</p>
        <p>{{hint.food.label}}</p>
      </ion-item>
    </ion-list>
    </div>
</ion-content>
