<ion-content>
	<ion-slides pager>
		<ion-slide>
			<div part="1" style="margin-top: 55px">
				<section>
					<h1>Welcome</h1>
				<div class="image">
		<img
			src="assets/images/logo/logo.jpg"
			style="height: 300px; width: 300px"
		/>
	</div>
          <p style="margin-bottom: 200px;">
            Welcome to the recipe App 
            </p>
				</section>
			</div>
		</ion-slide>

		<ion-slide>	<div part="2" style="margin-top: 55px">
				<section>
					<h1>Welcome</h1>
				<div class="image">
		<img
			src="assets/images/logo/logo.jpg"
			style="height: 300px; width: 300px"
		/>
	</div>
          <p style="margin-bottom: 50px;">
            Welcome to the recipe App 
            </p>
        </section>
        <section style="margin-bottom: 200px;">
          <ion-label><h2><ion-button (click)="startApp()">Start</ion-button></h2></ion-label>
          </section>
			</div></ion-slide>
	</ion-slides>
</ion-content>