<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/home/tabs/recipe">
        </ion-back-button>
      </ion-buttons>
    <ion-title><h1>Recipe Details</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list *ngFor="let data of DataArray">
  <ion-item detail (click)="details(data)">
    <ion-avatar slot="start">
      <ion-img [src]="data.recipe.image"></ion-img>
      </ion-avatar>
  <ion-label>
    <h1>{{data.recipe.label}}</h1>
    <h3>{{data.recipe.source}}</h3>
    </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
